.formulario{
    display: flex;
    text-align: center;
    margin-left: 80px;
}

div.borde{    
    border-top: 3px solid rgb(0, 195, 255);
    border-bottom: 3px solid rgb(0, 195, 255);    
    border-left: 1.5px solid rgb(0, 195, 255);
    border-right: 1.5px solid rgb(0, 195, 255) ;
}

    .foot1{
         color: rgb(255, 255, 255);
         margin: 20px;

    }

    li a{
        text-decoration: none;   
        
    }


